/***** FUENTE IMPORTADA *****/
@import url('https://fonts.googleapis.com/css2?family=Acme&family=DM+Sans:wght@400;500;700&family=Inter:wght@300;500&family=Quicksand:wght@300;500;700&display=swap');

:root {

    /***** PALETA DE COLORES *****/
    --primary-tono1: #005954;
    --primary-tono2: #338b85;
    --secondary-tono1: #5dc1b9;
    --secondary-tono2: #9ce0db;
    --extra-color: #d5ffff;

    /***** TAMAÑO DE FUENTES *****/

    --font-p-or-a: 1rem;
    --font-p-or-a-max: 1.3rem;
    --font-h1: 2rem;
    --font-h2: 1.5rem;
    --font-h2-min: 1.2rem;
    --font-h3: 1.1rem;
    --font-h3-min: 1.3rem;
    --font-h4: 0.9rem;
}

/***** ESTILOS PERMANENTES *****/
body{
    margin: 0;
    padding: 0;

    font-size: 62.5%;
    font-family: "DM Sans", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;

    left: 0;
    right: 0;

}

.body-blogs{
    /*Ya no se genera scroll*/
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

a {
    text-decoration: none;
    display: inline;
    color: var(--primary-tono2);
}

/***** HEADER *****/
header{
    width: 100%;
    height: 140px;
}

header .header-icons{
    position: relative;
    box-shadow: 0 5px 25px var(--primary-tono1);
    width: 100%;
    height: 70px;
}

/***** NAVBAR *****/
nav{
    width: 100%;
    height: 70px;
    background-color: var(--primary-tono2);
}



/********** ESTILOS DE INDEX.HTML **********/

/***** MAIN *****/

.main-home{
    background-image: url('./assets/img/Backgrounds/Back1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;

    display: flex;
    justify-content: center;

    width: 100vw;
    height: 100vh;
}

.main-container{
    width: 100%;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas: 
    "titulo"
    "boton";

    justify-content: center;
}

/***** TÍTULO DEL MAIN *****/
.title-main-container{
    display: grid;
    grid-area: titulo;
    align-items: end;
}

.title-main-container h1{
    background-color: var(--primary-tono1);
    opacity: 0.8;
    color: white;
    font-size: var(--font-h1);
    font-weight: 500;
    text-align: center;
    padding: 10px;
}


/***** BOTÓN DEL MAIN *****/
.button-main-container{
    display: grid;
    grid-area: boton;
    align-items: start;
    justify-items: center;
}

.button-main-container button{
    padding: 12px 16px;
    border-radius: 20px;
    border: none;

    background-color: var(--extra-color);
    box-shadow: 0 5px 25px var(--primary-tono1);
}

.button-main-container button a{
    font-size: var(--font-p-or-a);
    font-weight: bold;
}



/********** ESTILOS DE BLOGS.HTML **********/

/***** COLUMNA - FILA 1*****/ 

.blogs-news .title-news{
    align-content: center;
}

.title-news h3{
    color: var(--primary-tono1);
    font-size: var(--font-h3);
}

.blogs-news .image-news{
    width: 100%;
}

.image-news img{
    margin-top: 5px;
    width: 90%;
    height: 90%;
    object-fit: fill;
    object-position: center;
    border-radius: 20px;
}

/***** COLUMNA -FILA 2*****/

.description-button{
    grid-row: 4;
}

.description-button button{
    width: auto;
    height: auto;
    padding: 6px 10px;

    border: 2px solid var(--primary-tono2);
    border-radius: 5px;



    background-color: transparent;
    color: var(--primary-tono2);
    box-shadow: 0 5px 5px var(--extra-color);

    font-size: var(--font-p-or-a);
    font-weight: 500;
}



/********** ESTILOS DE LA GRID POST **********/

.post-container{
    display: grid;
    margin-top: 20px;
}

.title-container h3{
    font-size: var(--font-h3-min);
    color: var(--primary-tono1);
}

.post-content .title-container{
    width: 100%;
    height: 100%;
    text-align: center;
    border-bottom: 2px solid var(--secondary-tono1);
}

.article-content{
    display: grid;
    grid-template-rows: max-content min-content min-content min-content;
}

.article-content img{
    width: 100%;
    height: auto;
    object-fit: cover;
    object-position: center;
    border-radius: 10px;

    grid-row: 1;
}

.article-content p{
    text-align: justify;
    font-size: var(--font-p-or-a);
}

.article-content .subtitle-post{
    font-size: var(--font-p-or-a);
    color: var(--primary-tono1);
    font-weight: 700;

    grid-row: 2;
}

.article-content .description-button{
    margin-top: 5px;
    grid-row: 4;

    align-items: end; /*me queda pendiente*/
}



/********** ESTILOS DE BLOG.HTML **********/

.img-post-container img{
    width: 100%;
    height: auto;
    object-fit: fill;
    object-position: center;
}



/***** INFO DEL MAIN *****/

.info-post-container h3{
    font-size: var(--font-h3-min);
    padding-bottom: 16px;
    border-bottom: 2px solid var(--secondary-tono1);
    color: var(--primary-tono1);
}

.info-post-container .article-content h1{
    font-size: var(--font-h1);
    margin: 0;
    margin-bottom: 10px;
    color: var(--primary-tono2);
}

.info-post-container .article-content p{
    line-height: 30px;
}



/***** CONTACTO *****/

.contact{
    width: 100%;
    background-color: aliceblue;
}

.contact-container{
    width: 80%;
    height: 120px;
    margin: auto;
    padding: 20px 0;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 20px;

    align-items: center;

    font-size: var(--font-p-or-a);
}

.title-contact{
    text-decoration: underline;
}
 


/********** FOOTER **********/

footer{
    width: 100%;
    height: 100px;

    background-color: var(--primary-tono1);

    border-top: 40px solid var(--secondary-tono1);
    justify-content: center;
    align-content: center;
}

footer p{
    color: aliceblue;
    font-size: var(--font-p-or-a);
    text-align: center;
}



/********** ESTILOS DE PERFIL.HTML **********/

/***** INFORMACION DEL PERFIL *****/

.main-perfil{
    width: 100%;
    height: 300px;
    padding-top: 40px;
    padding-bottom: 40px;

    background-color: aliceblue;
}
.perfil-container{
    width: 80%;
    height: 100%;
    margin: auto;

    display: grid;
    grid-template-columns: 1fr 1fr;

    align-content: center;
}

.perfil-container img{
    width: 90%;
    height: auto;
    object-fit: cover;
    object-position: center;
    border-radius: 20px;

}

.perfil-info{
    width: 100%;
    height: auto;
    align-self: center;
}

.perfil-info h2{
    color: var(--primary-tono2);
    font-size: 1.3rem;
}

.perfil-info p{
    font-size: 1rem;
    text-align: justify;
}

/*ANTES DE LOS 500PX*/
@media screen and (max-width: 500px) {
    .main-perfil{
        width: 100%;
        height: auto;
    }
    .perfil-container{
        padding-top: 30px;
        display: grid;
        grid-template-rows: repeat(2, 1fr);
        grid-template-columns: auto;
    
        align-content: center;
    }
    .perfil-container img{
        grid-row: 1;
        width: 100%;
        height: auto;
        object-fit: cover;
        object-position: center;
        border-radius: 20px;
    }
    
    .perfil-info{
        grid-row: 2;
        width: 100%;
        height: auto;
        margin-left: 0;
        align-self: center;
    }
    
}

/***** GRILLA DEL PERFIL *****/
.perfil-grid{
    width: 80%;
    height: auto;
    margin: auto;
    padding-top: 30px;
    padding-bottom: 50px;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;

    column-gap: 30px;
}

.perfil-grid h4{
    grid-area: 1 / 1 / 2 / 4;
    text-align: center;
    font-size: 1.5rem;
    padding-bottom: 16px;
    border-bottom: 2px solid var(--secondary-tono1);
    color: var(--primary-tono1);
}

.perfil-grid article p:first-child{
    font-size: 1.2rem;
    color: var(--primary-tono2);
    font-weight: bold;
}

.perfil-grid article p:last-child{
    font-size: 1rem;
    text-align: justify;
}

/*ANTES DE LOS 500PX*/
@media screen and (max-width: 500px) {
    .perfil-grid{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto;
    
        column-gap: 20px;
    }
    
    .perfil-grid h4{
        grid-area: 1 / 1 / 2 / 3;
    }
}