/********** INDEX.HTML MEDIA QUERIES **********/

/***** A partir de 500px *****/
@media screen and (min-width: 500px) {

    /***** HEADER *****/

    .header-icons{
        width: 100%;
        height: auto;
    
        display: grid;
    
        grid-template-columns: 3fr 1fr;
        grid-template-rows: auto;
        grid-auto-flow: column;
    
        grid-area: 1 / 1 / 1 / 1;
        background-color: var(--secondary-tono1);
    
        grid-template-areas: 
        "vacio iconos"
        ;
    }
    
    .icons{
        display: grid;
        grid-area: iconos;
        grid-template-columns: repeat(4, 1fr) ;
        gap: 10px;

        width: 100%;
        height: auto;
        place-content: center;
    }
    
    .icons a img{
        width: 40px;
        height: 40px;
        object-fit: cover;
        filter: drop-shadow(0 2px 5px var(--primary-tono1));
    }

    /***** NAVBAR****/
    nav a{
        color: rgb(14, 23, 31);
        font-family: Arial, Helvetica, sans-serif;
    }

    .nav-container{
        width: 100%;
        height: 70px;

        display: grid;

        grid-template-columns: 3fr 200px;

        grid-template-areas: 
        "logo aboutMe"
        ;
    }

    .nav-logo{
        width: 100%;
        height: auto;
        margin-left: 40px;

        display: grid;
        grid-area: logo;

        justify-items: start;
        align-items: center;
    }

    .nav-logo a img{
        width: 120px;
        height: 70px;

        object-fit: contain;
        filter: drop-shadow(0 2px 5px var(--primary-tono1));
    }

    .profile-link {
        width: auto;
        height: 70px;
        padding-right: 20px;

        display: grid;
        justify-items: end;
        align-items: center;

        grid-area: aboutMe;

    }

    .profile-link a{
        width: auto;
        height: auto;
        padding: 10px 16px;
        border-radius: 5px;

        background-color: var(--extra-color);
        color: var(--primary-tono2);
        box-shadow: 0 5px 15px var(--primary-tono1);
        font-size: var(--font-p-or-a);
        font-weight: 700;
        
    }

    /***** MAIN *****/

    .main-blogs{
        width: 100%;
    }

    /***** CONTIENE 2 COLUMNAS *****/
    .blogs-container{
        width: 100%;
        background-color: aliceblue;
    }

    .style-blogs-container{
        width: 80%;

        display: grid;
        grid-template-columns: 2fr 1fr;

        padding-top: 20px;
        padding-bottom: 40px;
        margin: auto;
    }

    /***** COLUMNA 1 *****/
    .blogs-news{
        display: grid;
        grid-template-rows: 50px 1fr;
    }

    /***** COLUMNA 2*****/
    .content-news{
        display: grid;
        grid-template-rows: 50px min-content min-content min-content;
    }
    .subtitle-main-blogs{
        grid-row: 2;
    }
    
    .subtitle-main-blogs h2{
        color: var(--primary-tono2);
        font-size: var(--font-h2);
    }
    
    .description-main-blogs{
        grid-row: 3;
        text-align: justify;
        font-size: var(--font-p-or-a);
    }

    .post-content{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: auto;
        row-gap: 40px;
        column-gap: 30px;
    
        padding: 0 50px 50px;
        justify-items: center;
    }

    .post-content .title-container{
        grid-area: 1 / 1 / 2 / 4;
    }

    /***** LADO IZQUIERDO DE CONTACTO *****/
    .contact-left{
        width: 100%;
        height: auto;
        display: grid;
        grid-template-columns: min-content 3fr;
    }

    .contact-left .c-img{
        grid-column: 1;
    }

    .c-img{
        width: 50px;
        height: auto;
        object-fit: cover;
        object-position: center;
        border-radius: 20px;

        align-self: center;
    }

    .contact-left div{
        grid-column: 2;

        margin-left: 20px;
        align-content: center;
    }

    /***** LADO DERECHO DE CONTACTO *****/
    .contact-right{
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 2fr;

        justify-items: end;

    }

    .contact-right .c-img{
        grid-column: 1;
        margin-right: 20px;
    }

    .contact-right div{
        grid-column: 2;
    }
}

@media screen and (max-width: 499px){

    .contact-container{
        height: 200px;
    }
    /***** LADO IZQUIERDO DE CONTACTO *****/
    .contact-left{
        width: 100%;
        height: auto;
        display: grid;
        grid-template-rows: 1fr 2fr;
    }

    .contact-left .c-img{
        grid-row: 1;
    }

    .c-img{
        width: 50px;
        height: auto;
        object-fit: cover;
        object-position: center;
        border-radius: 20px;
        justify-self: center;
    }

    .contact-left div{
        grid-row: 2;
        text-align: center;
    }

    /***** LADO DERECHO DE CONTACTO *****/
    .contact-right{
        width: 100%;
        display: grid;
        grid-template-rows: 1fr 2fr;
    }

    .contact-right .c-img{
        grid-row: 1;
    }

    .contact-right div{
        grid-row: 2;
        text-align: center;
    } 
    
}

/*Antes de este tamaño*/
@media screen and (max-width: 500px) {

    /***** HEADER *****/
    .header-icons .icons{
        width: 100%;
        height: 70px;
        display: grid;
        grid-template-columns: repeat(4, 1fr) ;

        place-content: center;
        justify-items: center;

        background-color: var(--secondary-tono1);
    } 

    .icons a img{
        width: 35px;
        height: 35px;
        object-fit: cover;
        filter: drop-shadow(5px 3px 5px var(--primary-tono1));
    }

    .profile-link{
        display: none;
    }

    /***** NAVBAR *****/
    .nav-container{
        width: 100%;
        height: 70px;
    
        display: grid;
        grid-template-rows: 100px;
    
        justify-content: center;
    }
    
    .nav-logo a img{
        width: 200px;
        height: auto;
    
        object-fit: contain;
    }

    /***** TÍTULO DEL MAIN *****/
    .main-container{
        width: 75%;
    }

    .title-main-container h1{
        font-size: var(--font-h1);
    }

    /***** MAIN *****/
    .main-blogs{
        display: grid;
    }

    /***** CONTIENE 2 FILAS *****/
    .style-blogs-container{
        display: grid;
        grid-template-rows: 1fr min-content;
        gap: 10px;

        padding: 0 20px 10px;
        background-color: aliceblue;

        align-items: center;
    }

    /***** FILA 1 *****/
    .blogs-news{
        display: grid;
        grid-template-rows: 60px 1fr;
        grid-row: 1;

        width: 100%;
    }
    .title-news{
        color: var(--primary-tono1);
        font-size: var(--font-h3);
    }

    .image-news img{
        width: 100%;
        height: 90%;
        object-fit: fill;
        object-position: center;
        border-radius: 20px;
    }

    /***** FILA 2*****/
    .content-news{
        display: grid;
        grid-template-rows: 80px 1fr 1fr;

        grid-row: 2;
        height: min-content;
    }

    .subtitle-main-blogs{
        grid-row: 1;
        align-content: center;
    }
    
    .subtitle-main-blogs h2{
        color: var(--primary-tono2);
        font-size: var(--font-h2-min);
        padding-bottom: 20px;
    }
    
    .description-main-blogs{
        grid-row: 2;
        text-align: justify;
    }
    .description-main-blogs p{
        font-size: var(--font-p-or-a);
    }
    
    .description-button{
        margin-top: 20px;
        grid-row: 3;
    }
    .description-button button{
    
        font-size: var(--font-p-or-a);
    }

    .post-content{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto;
        row-gap: 40px;
        column-gap: 30px;
    
        padding: 0 20px 40px 20px;
        justify-items: center;

        grid-auto-flow: row;
    }
    .post-content .title-container{
        grid-area: 1 / 1 / 2 / 3;
        align-self: center;
    }

    /***** MAIN IMAGEN PRINCIPAL *****/
    .img-post-container{
        padding: 0 50px;
    }
    /***** INFO DEL MAIN *****/
    .info-post-container{
        padding: 0 50px;
    }

    .info-post-container .article-content p{
        font-size: var(--font-p-or-a);
    }

    /********** FOOTER **********/

    footer{
        width: auto;
        height: 120px;
        padding: 0 20px;
    }
}



/********** ESTILOS DE LA GRID POST **********/

/***** A partir de este 900px en adelante *****/
@media screen and (min-width: 900px) {
    .post-content{
        width: 80%;
        margin: auto;
    }
}



/********** ESTILOS DE BLOG.HTML **********/

/***** MAIN IMAGEN PRINCIPAL *****/

@media screen and (min-width: 900px) {
    /***** MAIN IMAGEN PRINCIPAL *****/
    .img-post-container{
        padding: 0 190px 30px;
    }
    /***** INFO DEL MAIN *****/
    .info-post-container{
        padding: 0 190px;
    }
    .info-post-container .article-content p{
        font-size: var(--font-p-or-a-max);
    }
}

@media screen and (max-width: 900px) {
    /***** MAIN IMAGEN PRINCIPAL *****/
    .img-post-container{
        padding: 0 100px 30px;
    }
    /***** INFO DEL MAIN *****/
    .info-post-container{
        padding: 0 100px;
    }
}

@media screen and (max-width: 700px) {
    /***** MAIN IMAGEN PRINCIPAL *****/
    .img-post-container{
        padding: 0 50px 30px;
    }
    /***** INFO DEL MAIN *****/
    .info-post-container{
        padding: 0 50px;
    }

    .info-post-container .article-content p{
        font-size: var(--font-p-or-a-max);
    }
}
